# Git and repo
.git
.gitignore
README.md
LICENSE

# Docker and build
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.test.yml
Makefile

# Enviroment
.env
.env.template
.env.testing

# Development
.idea/*
